:root {
  --black: hsl(205, 86%, 17%);
  --white: rgba(255, 255, 255, 0.9);
  --dark-blue: hsl(197, 54%, 30%);
  --light-blue: #3184a5;
  --orange: #ff7f27;
  --pink: #ff127e;
}

body {
  border-top: 25px solid var(--orange);
  border-bottom: 50px solid var(--pink);
  border-width: 25px 0 50px;
  min-height: 100vh;
}

.screenshot {
  min-height: 600px;
  max-height:  75vh;
}

.mac-screenshot {
  max-width: 45vw;
}

.app-icon {
  height: 60px;
  width: 60px;
  border-radius: 12px;
}

h1 {
  margin-bottom: 0;
}

h5 {
  margin-bottom: 1em;
}

.app-store-button {
  height: 60px;
}

.btn-outline-secondary,
.btn-outline-secondary:active,
.btn-outline-secondary:visited {
  color: var(--pink) !important;
  border-color: var(--pink) !important;
}

.btn-outline-secondary:hover {
  background-color: var(--orange) !important;
  border-color: var(--orange) !important;
  color: white !important;
}

a {
  color: var(--pink);
  text-decoration: none !important;
}

a:hover {
  color: var(--orange);
}

@media (max-width: 768px) {
  .screenshot {
      min-height: auto;
      max-height: auto;
      width: 100%;
  }
  
  .mac-screenshot {
      max-width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: rgb(26, 28, 38);
  }

  h1,
  h5 {
    color: rgba(255, 255, 255, 0.9);
  }

  .bg-light {
      background-color: rgb(46, 48, 58) !important;
      color: rgba(255, 255, 255, 0.9);
  }

  .bg-light .text-secondary {
      color:  rgba(255, 255, 255, 0.6) !important;
  }

  .quote {
      color: rgb(248, 249, 250) !important;
  }
}